include requirements.txt
include COPYING
include README.md

recursive-include dyncss/templates *

recursive-exclude * *.pyc
recursive-exclude * *.pyo
recursive-exclude * *.x.xml
recursive-exclude * *.DS_Store
